root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false


[*.sh]
indent_style = tab


#
# EditorConfig is awesome: http://EditorConfig.org
#

# 4 space indentation
[*.{py,java,r,R}]
indent_style = space
indent_size = 4

